html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.cenario {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.tela-inicial {
    position: absolute;
    inset: 0;

    background-color: #F5F0E6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    z-index: 10;
}


#botaoComecar {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#botaoComecar img {
    width: 300px;
    height: auto;
    display: block;

    transition: 0.2s;
}

#botaoComecar:hover img {
    transform: scale(1.05);
}

#botaoComecar:active img {
    transform: scale(0.95);
}
 
.titulo-jogo {
    width: 750px;
    height: auto;


    margin-bottom: 30px;
}


.trilhos,
.trem,
.boneco-alavanca {
    display: none;
}
.visivel { 
    display: block;
}

.botoes2 {
    display: none;
}
.visivel2 { 
    display: block;
}

.boneco-alavanca1 {
    display: none;
}
.visivel1 {
    display: block;
}
.trilhos {
    position: absolute;
    width: 100%;
    height: 100%;
}

.trem {
    position: absolute;
    width: 250px;
    height: auto;

    /* posição inicial */
    left: 100px;
    top: 25px;
}

.boneco-alavanca {
    position: absolute;
    width: 150px;
    height: auto;

    left: 450px;
    top: 42px;
}
.boneco-alavanca1 {
    position: absolute;
    width: 150px;
    height: auto;

    left: 450px;
    top: 42px;
}

.botoes {
    position: absolute;

    left: 30px;
    top: 500px;

    display: none;
    gap: 20px;
}

.botoes.visivel {
    display: flex;
}

.botoes button {
    padding: 15px 25px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.botoes button:hover {
    transform: scale(1.05);
}

.botoes button:active {
    transform: scale(0.95);
}

.pergunta {
    position: absolute;

    left: 30px;
    top: 330px;

    width: 500px;

    font-size: 24px;
    font-weight: bold;

    text-align: center;
}













.next {
        position: absolute;

    left: 30px;
    top: 500px;

    display: none;
    gap: 20px;
}

.next.visivel2 {
        display: flex;
}

.next button {
        padding: 15px 25px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.next button:hover {
    transform: scale(1.05);
}

.next.button:active {
    transform: scale(0.95);
}
