html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
  

.cenario {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.tela-inicial {
    position: absolute;
    inset: 0;

    background-color: #F5F0E6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    z-index: 10;
}


#botaoComecar {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#botaoComecar img {
    width: 300px;
    height: auto;
    display: block;

    transition: 0.2s;
}

#botaoComecar:hover img {
    transform: scale(1.05);
}

#botaoComecar:active img {
    transform: scale(0.95);
}
 
.titulo-jogo {
    width: 750px;
    height: auto;


    margin-bottom: 30px;
}


.trilhos,
.trem,
.boneco-alavanca {
    display: none;
}
.visivel { 
    display: block;
}

.botoes2 {
    display: none;
}
.visivel2 { 
    display: block;
}

.boneco-alavanca1 {
    display: none;
}
.visivel1 {
    display: block;
}
.trilhos {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: none;
    z-index: 1;
}

.trem {
    position: absolute;
    width: 250px;
    height: auto;

    /* posição inicial */
    left: 100px;
    top: 25px;
    z-index: 3;
}

.boneco-alavanca {
    position: absolute;
    width: 150px;
    height: auto;

    left:450px;
    top: 42px;
    z-index: 3;
}
.boneco-alavanca1 {
    position: absolute;
    width: 150px;
    height: auto;

    left: 450px;
    top: 42px;
    z-index: 3;
}

.botoes {
    position: absolute;

    left: 30px;
    top: 500px;

    display: none;
    gap: 20px;
    z-index: 30;
}

.botoes.visivel {
    display: flex;
}

.botoes button {
    padding: 15px 25px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
    z-index: 30;
}

.botoes button:hover {
    transform: scale(1.05);
}

.botoes button:active {
    transform: scale(0.95);
}

.pergunta {
    position: absolute;

    left: 30px;
    top: 330px;

    width: 500px;

    font-size: 24px;
    font-weight: bold;

    text-align: center;
}

.pontuação {
        position: absolute;

    left: 500px;
    bottom: 50px;

    width: 800px;

    font-size: 24px;
    font-weight: bold;

    text-align: center;
}











.next {
        position: absolute;

    left: 30px;
    top: 500px;

    display: none;
    gap: 20px;
    z-index: 30;
}

.next.visivel2 {
        display: flex;
}

.next button {
        padding: 15px 25px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
    z-index: 30;
}

.next button:hover {
    transform: scale(1.05);
}

.next.button:active {
    transform: scale(0.95);
}

.pessoas {
    position: absolute;
    display: none;
    pointer-events: none;
}

#cincoPessoas {
    width: 180px;
    left: 800px;
    top: 320px;
    z-index: 2;
}

#cincodormindo {
    width: 180px;
    left: 800px;
    top: 300px;
    z-index: 2;
}

#idosos {
    width: 190px;
    left: 800px;
    top: 310px;
    z-index: 2;
}

#umaPessoa {
    width: 100px;
    left: 900px;
    top: 90px;
    z-index: 2;
}

#politic {
    width: 100px;
    left: 800px;
    top: 310px;
    z-index: 2;
}

#cat {
    width: 120px;
    left: 980px;
    top: 90px;
    z-index: 2;
}

#monalisa {
    width: 100px;
    left: 900px;
    top: 59px;
    z-index: 2;
}

#enemy {
    width: 100px;
    left: 800px;
    top: 310px;
    z-index: 2;
}

#pessoaRica {
    width: 100px;
    left: 900px;
    top: 90px;
    z-index: 2;
}

/* Estilo das Telas Finais */
.final1, 
.final2, 
.final3 {
    position: absolute;
    inset: 0;
    
    display: none; /* O JS muda para 'flex' no fim */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 50;

}

/* Zera margens do navegador para não descentralizar */
.final1 h1, .final2 h1, .final3 h1 {
    font-size: 48px;
    margin: 0 0 15px 0;
    font-family: sans-serif;
}

.final1 h2, .final2 h2, .final3 h2 {
    font-family: sans-serif;
    color: #333; 
    margin: 0 0 25px 0;
}

/* Cores dos títulos */
.final1 h1 { color: #2e7d32; }
.final2 h1 { color: #f57c00; }
.final3 h1 { color: #c62828; }